<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.tcc.easywork">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--
 COARSE LOCATION, utilizado para pegar posição aproximada,
     indicada para locais fechados, prédios, etc.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- FINE LOCATION, precisão alta, posição exata do gps -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.TelaPrincipal"></activity>
        <activity
            android:name=".view.FormCadEdicao"
            android:parentActivityName=".view.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>